* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    padding: 0px;
    margin: 0px;
}

.white-bg {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rebeccapurple;
    height: 20px;
    z-index: 12;
    height: 650px;
    background-color: rgba(255, 255, 255, 0.856);
}

.first-page {
    position: relative;
    width: 100%;
    height: auto;
    height: 650px;
    background-image: url(images/jbtech.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

header {
    width: 100%;
    display: flex;
    padding: 25px 80px;
}
img {
    width: 160px;
    height: 50px;
}
.menu {
    margin-left: auto;
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(35,51,104);
    margin-top: 10px;
}
.menu:hover{
    color: rgb(35,169,74);;
    font-size: 1.6rem;
}
.body-content {
    width: 100%;

}
#stays {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s all;
    transform: translateY(-100%);
}
.stay-text {
    color: rgb(35,169,74);
    margin-bottom: 0px;
}
.coming {
    font-size: 2rem;
    color: rgb(35,51,104);    
}
.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.count-div {
    scale: 0.8; opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(35,51,104);
    transition: 2s all;
    transform: translateY(-100%);
}


.time {
    width: 120px;
    height: 120px;
    border: 2px solid rgb(35,51,104);
    border-radius: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(35,51,104);
    font-size: 2.8rem;
    
    
}
.waitlist {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.join{
    color: rgb(35,51,104);
}
#notify:hover {
    color: rgb(209, 217, 224);
    background-color: rgb(16, 122, 48);
}

.info{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}
#notify{
    background-color: rgb(35,169,74);
    border-radius: 5px;
    color: white;
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    text-decoration: none;
}
.text-content {
    width: 100%;
    background-color: rgb(35,169,74);
    display: flex;
    justify-content: center;
}
.text-div {
    width: 95%;
    border: 2px solid red;
    max-width: 1100px;
}
.about-div {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: aliceblue;
}
.mission-vision {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0px 30px;

}
.item {
    text-align: center;
    color: aliceblue;
    scale: 0.8; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 30%;
}
@keyframes fade-in {
    from{scale: 0.8; opacity: 0;} 
    to{scale: 1; opacity: 1;}   
}

.process {
    display: flex;
    justify-content: center;
}

.about-us {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 30px;

}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}
.nav{
    background-color: rgba(0, 0, 0, 0.582);
    color: white;
    width: 40px;
    height: 40px;
    text-decoration: none;
    position: fixed;
    z-index: 30;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about-text {
    font-size: 3rem;
}
.fa-solid, .fa-regular {
    font-size: 2rem;
}
.process-div{
    margin-top: 50px;
}

@media (max-width: 1000px){
    h3, h2{
        font-size: 1rem;
    }
    .about-us {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 30px;
    
    }
    .count-div {
        scale: 0.8; opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(35,51,104);
        transition: 2s all;
        transform: translateY(-100%);
    }
    
    
    .time {
        width: 90px;
        height: 90px;
        font-size: 2.5rem;  
    }
    header {
        width: 100%;
        display: flex;
        padding: 25px 50px;
    }
}

@media (max-width: 700px){
    img {
        width: 120px;
        height: 40px;
    }
    header {
        width: 100%;
        display: flex;
        padding: 25px 20px;
    }

    h3{
        /* font-size: 4rem; */
    }
    .menu {
        font-size: 1.3rem;
       
    }

    .menu:hover{
        color: rgb(35,169,74);;
        font-size: 1.5rem;
    }
    .time {
        width: 40px;
        height: 40px;
        font-size: 1.1rem;
    }
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-top: 10px;
    }
    .about-us {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        gap: 30px;
        padding: 0px 30px;
    }
    .mission-vision {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        padding: 0px 30px;
    
    }
    .countdown {
        gap: 10px;
    }
}